body {
    padding-top: 100px;
}

footer {
    margin-top: 100px;
}

body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: #DF4836;
}

h1 {
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
}

h2 {
    color: #666;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
    font-weight: 400;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.navbar .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse-center {
  text-align: center;
}

#langbar {
    z-index: 2;
}

nav.navbar-secondary {
    z-index: 1
}

.infopack {
    border-bottom: 1px solid #aaa;
    clear: left;
    overflow: auto;
    padding: 5px 0 50px;
}

.language_list li,
.link_list_item {
    float: left;
    padding-bottom: 5px;
    text-align: center;
}

.language_list li {
    width: 150px;
}

.link_list_item a {
    padding: 0 20px;
    border-right: 1px solid #ccc;
}

.document_list h3 {
    clear: left;
    padding-top: 10px;
}
