body {
    padding-top: 100px;
    top:0 !important;
}

footer {
    margin-top: 100px;
    font-size: 1.4em;
}

body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: #DF4836;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    width: 75%;
    margin: 60px auto 40px; 
}

h1 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 80px;
}

h2 {
    color: #666;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h3 {
    font-size: 15px;
    font-weight: 400;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.navbar-brand {
    padding: 5px 0 0;
}

.navbar .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse-center {
  text-align: center;
}

#langbar {
    z-index: 2;
}

nav.navbar-secondary {
    z-index: 1
}

.language_selector {
    cursor: pointer;
}

.infopack {
    border-bottom: 1px solid #aaa;
    clear: left;
    overflow: auto;
    padding: 5px 0 50px;
}

.language_list li,
.link_list_item {
    float: left;
    text-align: center;
}

.language_list li {
    width: 150px;
    margin: 5px;
}

.language_list li a, .link_list_item a {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.link_list_item {
    margin: 5px;
}

.link_list_item a {
    padding: 10px 20px;

}

.document_list {
    padding-left: 40px;
}

.document_list h3 {
    clear: left;
    padding-top: 10px;
}

span.header_icon {
    color: white;
    background: #DF4836;
    width: 30px;
    margin-right: 10px;
    padding: 7px 5px 7px;
    text-align: center;
    margin-top: 20px;
    float: left;
}

.infopack h2 {
    float: left;
    line-height: 1.4em
}

#langbutton.navbar-toggle {
    color: #aaa;
    border-color: white;
    padding: 2px 12px 5px;
}

#langbutton p {
    margin: 0;
}

#langbutton p span {
    padding: 0;
    margin: 0;
    vertical-align: middle; 
}

#langbutton p span.fa-globe {
    font-size: 1.5em;
    margin-left: 7px;
}

.location_select a {
    color: black;
}

.location_select a:hover {
    color: black;
    text-decoration: none;
}


.country {
    padding: 0 10px 10px;
    border: 1px solid #ddd;
    margin-bottom: 24px
}

.country:hover {
    background-color: #eee;
}

.country .flag {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px
}

.country .name {
    text-align: center
}

.full_translation {
    background: #eee;
    padding: 15px;
}

.video_list {
    clear: left;
    padding-left: 60px;
}

.breadcrumb {
    margin-top: 20px;
}

.feature_heading {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-top: 40px;
}


.feature_img {
    border: 1px solid #ccc;
    padding: 5px;
}

.fb-container {
    width: 600px;
}

.press_logos {
    margin-bottom: 60px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-slide {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}



