body {
    padding-top: 10px;
}

footer {
    margin-top: 100px;
    font-size: 1.4em;
}

body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: #DF4836;
    cursor: pointer;
}

.alert a {
    color: inherit;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    width: 75%;
    margin: 60px auto 40px; 
}

h1 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 80px;
}

h2 {
    color: #666;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h3 {
    font-size: 15px;
    font-weight: 400;
}

h4.subheading {
    margin-top: 80px;
    margin-left: -20px;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.navbar-brand {
    padding: 5px 0 0;
}

.navbar .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse-center {
  text-align: center;
}

#langbar {
    z-index: 2;
}

nav.navbar-secondary {
    z-index: 1
}

.language_selector {
    cursor: pointer;
}

.infopack {
    border-bottom: 1px solid #aaa;
    clear: left;
    overflow: auto;
    padding: 5px 0 50px;
}

.language_list {
    display: none;
}

.language_list li,
.link_list_item {
    float: left;
    text-align: center;
}

.language_list li {
    width: 150px;
    margin: 5px;
}

.language_list li a, .link_list_item a {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.link_list_item {
    margin: 5px;
}

.link_list_item a {
    padding: 10px 20px;

}

.link_list {
    padding-left: 40px;
}

.link_list h3 {
    clear: left;
    padding-top: 10px;
}

span.header_icon {
    color: white;
    background: #DF4836;
    width: 30px;
    margin-right: 10px;
    padding: 7px 5px 7px;
    text-align: center;
    margin-top: 20px;
    float: left;
}

.infopack h2 {
    float: left;
    line-height: 1.4em
}

#langbutton.navbar-toggle {
    color: #aaa;
    border-color: white;
    padding: 2px 12px 5px;
}

#langbutton p {
    margin: 0;
}

#langbutton p span {
    padding: 0;
    margin: 0;
    vertical-align: middle; 
}

#langbutton p span.fa-globe {
    font-size: 1.5em;
    margin-left: 7px;
}

.location_select a {
    color: black;
}

.location_select a:hover {
    color: black;
    text-decoration: none;
}


.country {
    padding: 0 10px 10px;
    border: 1px solid #ddd;
    margin-bottom: 24px
}

.country:hover {
    background-color: #eee;
}

.country .flag {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px
}

.country .name {
    text-align: center
}

.full_translation {
    background: #eee;
    padding: 15px;
}

.video_list {
    clear: left;
    padding-left: 60px;
}

.breadcrumb {
    margin-top: 20px;
}

.feature_heading {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#youtube {
    margin-top: 40px;
}


.feature_img {
    border: 1px solid #ccc;
    padding: 5px;
}


.press_logos {
    margin-bottom: 60px;
}

.top_logo {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.top_logo img {
    width: 90%;
}


.jumbotron {
    background: white;
}

.team_photos {
    margin-top: 70px;
}

.navbar-default .navbar-nav li.highlight a {
    background-color: #DF4836;
    color: white;
    font-weight: 800;
}

#top_facebook {
    margin-right: 20px;
    font-size: 2em;
}

#top_twitter {
    margin-left: 20px;
    font-size: 2em;
}

.video_thumbnail {
    width: 75%;
}

.btn-shaded {
    background: #eee;
    margin-bottom: 2px;
}

#header-lg-logo {
    margin: 0 15px;
}

@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}