<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button id="langbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#langbar" aria-expanded="false" aria-controls="navbar">
                <p>
                <span>Language </span>
                <span class="fa fa-globe"></span></p>
            </button>
        </div>

        <div id="langbar" class="collapse navbar-collapse navbar-collapse-center">
            <ul class="nav navbar-nav navbar-center notranslate">
                <li><a data-toggle="tooltip" data-placement="bottom" title="Arabic" class="language_selector" data-lang="ar">العربية</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="English" class="language_selector" data-lang="en">English</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="Farsi" class="language_selector" data-lang="fa">فارسی</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="French" class="language_selector" data-lang="fr">français</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="Urdu" class="language_selector" data-lang="ur">اردو</a></li>
            </ul>
        </div>
    </div>
</nav>