
<footer class="footer">
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/about/">About RefuComm</a></li>
                <li><a href="https://www.youcaring.com/families-disabled-and-unaccompanied-minors-stuck-in-idomeni-569855">Donate</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" notranslate>
                <li><a target="_blank" href="https://www.facebook.com/{{ site.facebook }}"><span class="fa fa-facebook-official"></span><span class="notranslate"> Facebook</span></a></li>
                <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter"></span><span class="notranslate"> Twitter</span></a></li>
                <li><a target="_blank" href="https://youtube.com/channel/{{ site.youtube_channel }}"><span class="fa fa-youtube"></span><span class="notranslate"> Youtube</span></a></li>
            </ul>
        </div>
    </nav>
</footer>