<div class="container-fluid full_translation">
    <div class="row" aria-label="language selection" notranslate>


<!--         <button class="notranslate language_selector btn btn-shaded col-xs-6 col-sm-6 col-md-4 col-xl-2"
            data-lang="ur" title="Urdu">
                اردو
            </button> -->


        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="ar" title="arabic">
            العربية
        </button>
        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="en" title="english">
            English
        </button>
        <!-- <br class="clear hidden-xs hidden-sm hidden-md"> -->
        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="fa" title="farsi">
            فارسی
        </button>
        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="fr" title="french">
            French
        </button>
        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="el" title="greek">
            Greek
        </button>
        <button class="notranslate language_selector btn btn-shaded col-xs-6 col-md-4 col-lg-2" 
          data-lang="ur" title="urdu">
            اردو
        </button>

    </div>
</div>