<div class="container-fluid full_translation">
    <p class="lead text-center">Select your language</p>
    <div class="row" aria-label="language selection" notranslate>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="ar" title="Arabic">العربية</button>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="en" title="English">English</button>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="fa" title="Farsi">فارسی</button>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="fr" title="French">français</button>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="el" title="Greek">ελληνικά</button>
        <button class="notranslate language_selector btn btn-default col-xs-6 col-sm-4 col-md-3 col-lg-2" data-lang="ur" title="Urdu">اردو</button>

    </div>
</div>