<div class="infopack">

    <div class="row">
        <div class="col-md-12">
            <span class="header_icon {{ site.data.locations.[include.location][include.section].icon }}"></span>
            <h2>{{ site.data.locations.[include.location][include.section].title }}</h2>
        </div>
    </div>
    <ul class="document_list">
    {% for link in site.data.locations.[include.location][include.section].links %}
        <li class="link_list_item">
            <h3>
                <a href="{{ link.href }}" data-linkname="{{include.location}}_{{include.section}}_{{ link.name | slugify }}" target="_blank">
                    {{ link.name }}
                </a>
            </h3>
        </li>
    {% endfor %}
    {% for doc in site.data.locations.[include.location][include.section].docs %}
        <li><h3>{{ doc.name }}</h3>
            <ul class="language_list">
                {% for language in doc.languages %}
                    <li>
                        <a data-langs="{{ language }}"
                           data-documentname="{{include.location}}_{{include.section}}_{{ doc.name | slugify }}"
                           href="/infopacks/{{include.location}}/{{include.section}}/{{doc.name | slugify}}/{{language | slugify}}/{{include.location}}_{{include.section}}_{{ doc.name | slugify }}_{{ language | slugify | upcase }}.pdf">
                             {{ language | extend_language_code }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if doc.videos %}
            <ul class="video_list">
                <h5>Videos</h5>
                {% for video in doc.videos %}
                    <li>
                        <a href="{{ video.href }}" target="_blank" data-label="{{include.location}}_{{include.section}}_{{ doc.name | slugify }}_{{ video.name | slugify }}">{{ video.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>