{% for section in site.data.locations.[include.location].sections %}
<div class="infopack">
    <span class="header_icon {{ section.icon }}"></span>
    <h2>{{ section.title }}</h2>
    <ul class="link_list">
    {% for link in section.links %}
        <li>
            {% if link.type == 'pdf' %}
                <h3>
                    <a class="pdf_name">
                        {{ link.name }}
                    </a>
                </h3>
                <ul class="language_list">
                {% for language in link.languages %}
                    <li>
                        <a data-langs="{{ language }}"
                           data-documentname="{{include.location}}_{{include.section}}_{{ doc.name | slugify }}"
                           href="/infopacks/{{include.location}}/{{include.section}}/{{doc.name | slugify}}/{{language | slugify}}/{{include.location}}_{{include.section}}_{{ doc.name | slugify }}_{{ language | slugify | upcase }}.pdf">
                             {{ language | extend_language_code }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% elsif link.type == 'website' %}
                <h3>
                    <a href="{{ link.href }}">
                        {{ link.name }}
                    </a>
                </h3>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}